@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: local("Poppins-Regular"),
    url("./assets/Fonts/Poppins-Regular.ttf") format("truetype");
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  background-color: white;
  scroll-behavior: smooth;
  color: #2d3648;
  user-select: none; /* For modern browsers */
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For Internet Explorer/Edge */
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.button {
  @apply flex items-center gap-2  font-semibold rounded-full px-5 py-3 text-[13px];
}

.button-color {
  @apply bg-[#FFECB1];
}

.cancel {
  @apply flex items-center gap-2 bg-red-500 font-semibold rounded-full px-5 py-3 text-[14px] text-white;
}

.header-text {
  @apply text-[#6B5201] text-[20px] font-bold;
}

.small-text {
  @apply text-[#6B5201] text-sm font-semibold;
}

.text-color {
  @apply text-[#6B5201] font-semibold;
}

.body-text {
  @apply text-body md:text-[18px] lg:text-[21px] font-semibold;
}

.card-header {
  @apply text-cardheader md:text-[18px] lg:text-[24px] font-semibold;
}

.card-body {
  @apply text-cardbody md:text-[14px] lg:text-[16px] font-semibold;
}
