@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: local("Poppins-Regular"),
    url("./assets/Fonts/Poppins-Regular.ttf") format("truetype");
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  scroll-behavior: smooth;
  color: #2d3648;
}

.button {
  @apply flex items-center gap-2  font-medium rounded-full px-5 py-3 text-[13px];
}

.button-color {
  @apply bg-[#FFECB1];
}

.cancel {
  @apply flex items-center gap-2 bg-red-500 font-medium rounded-full px-5 py-3 text-[14px] text-white;
}

.header-text {
  @apply text-[#6B5201] text-[20px] font-bold;
}

.small-text {
  @apply text-[#6B5201] text-sm;
}

.text-color {
  @apply text-[#6B5201];
}

.body-text {
  @apply text-body md:text-[18px] lg:text-[21px];
}

.card-header {
  @apply text-cardheader md:text-[18px] lg:text-[24px];
}

.card-body {
  @apply text-cardbody md:text-[14px] lg:text-[16px];
}
